/* FONT COLORS */
$base-font-size: 15px;
$base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$base-font-color: #666666;

/* BACKGROUND COLORS */
$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #e4eef2;
$dark-color: #333333;